.chat_time {
	align-items: center;
	display: flex;
	font-size: 12px;
	color: #495057;
}

.chat_delete {
	align-items: center;
	display: flex;
	cursor: pointer;
}

.chat_icon_grey {
	color: #616161;
}

.chat_icon_red {
	color: #D50000;
}

.bubble_container {
	padding: 10px;
	display: flex;
	gap: 6px;
}

.chat_me_container {
	flex-direction: row-reverse;
}

.chat_me {
	background-color: #bbd0ff;
}

.chat_other {
	background-color: #ffd6ff;
}

.chat_bubble {
	align-items: center;
	display: flex;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

.chat_input_container {
	padding: 10px;
	flex-direction: row;
	display: flex;
	gap: 5px;
}

.chat_screen {
	/* this child should have 3 child components (header, body, footer) */
	height: calc(100vh - 150px);
	display: grid;
	flex-direction: column;
	grid-template-rows: 1fr 60px;
}

.chat_screen_body {
	overflow: auto;
	padding-bottom: 60px;
}

.chat_screen_header {
	text-align: center;
	padding: 15px 20px 5px 20px;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.2;
	border-bottom: 1px solid #ced4da;
	display: grid;
	grid-template-columns: 50px 1fr 50px;
}

.cursor_pointer {
	cursor: pointer;
}

.back_icon_ {
	color: gray;
	display: flex;
	height: 100%;
	padding-bottom: 10px;
}

.btn_chatsend {
	background-color: #8f9cff;
	border-radius: 4px;
	width: 45px;
	border: none;
	color: white;
	margin-top: 0px !important;
}

.btn_chatsend:hover {
	background-color: #9faaff;
}

.chatting_input_window {
	height: 40px;
	margin-top: 0px !important;
}

.chat_error {
	display: flex;
	text-align: center;
	font-size: 20px;
	flex-direction: column;
	gap: 20px;
	height: calc(100vh - 150px);
	justify-content: center;
	align-items: center;
}

.chat_error_btn {
	background-color: #8f9cff;
	color: white;
}

.chat_error_btn:hover {
	background-color: #9faaff;
}