.chat_time {
    align-items: center;
    display: flex;
    font-size: 12px;
    color: #495057;
}

.bubble_container {
    padding: 10px;
    display: flex;
    gap: 6px;
}

.chat_me_container {
    flex-direction: row-reverse;
}

.chat_me {
    background-color: #B8C0FF;
}

.chat_other {
    background-color: #dcdcdd;
}

.chat_bubble {
    align-items: center;
    display: flex;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}


.chat_input_container {
    padding: 10px;
    flex-direction: row;
    display: flex;
    gap: 5px;
}

.chat_screen {
    /* this child should have 3 child components (header, body, footer) */
    height: 100vh;
    display: grid;
    flex-direction: column;
    grid-template-rows: 70px 1fr 60px;
}

.chat_screen_body {
    overflow: auto;
    padding-bottom: 60px;
}

.chat_screen_header {
    text-align: center;
    padding: 15px 20px 5px 20px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    border-bottom: 1px solid #ced4da;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

.cursor_pointer {
    cursor: pointer;
}