.FP-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: #f5f5f5;
}

h1 {
	color: #c8b6ff;
	font-weight: bolder;
}

h2 {
	color: #b8c0ff;
	font-weight: lighter;
}

.FP-form-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 10px;
}

.FP-form-label {
	font-weight: bolder;
	padding: 10px;
}

.FP-submit-form {
	font-weight: bolder;
	background-color: #c8b6ff;
	color: white;
	border: 1px solid #c8b6ff;
	padding: 10px;
	text-decoration: none;
}

.mybutton{
	display: flex;
	justify-content: center;
}

.FP-container button{
	width: 100px;
}