.home_container {
	display: flex;
	flex-direction: column;
	padding: 30px;
	gap: 30px;
}

.screen_header {
	font-weight: bolder;
	font-size: 30px;
	color: #616161;
}

.home_search_btn {
	display: grid;
	height: 50px;
	border-radius: 25px;
	background-color: #EEEEEE;
	cursor: pointer;
	font-size: 30px;
	grid-template-columns: 1fr 30px;
	align-items: center;
	padding-right: 15px;
	color: #424242;
}

.home_search_btn:hover {
	background-color: #F5F5F5;
	color: #616161;
}

.home_btn_container {
	display: grid;
	height: 45%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 12px;
}

.home_profile_btn {
	grid-row: 1 / 3;
	display: flex;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
	background-color: #B8C0FF;
	font-size: 23px;
	justify-content: center;
	gap: 10px;
}

.home_chat_btn {
	display: flex;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
	background-color: #FFD6FF;
	font-size: 23px;
	justify-content: center;
	gap: 10px;
}

.home_upload_btn {
	display: flex;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
	background-color: #BBD0FF;
	font-size: 23px;
	justify-content: center;
	gap: 10px;
}

.search_text {
	font-size: 18px;
	padding-left: 25px;
	display: flex;
}

.home_icon {
	font-size: 30px;
}


.home_profile_btn:hover {
	background-color: #c1c8ff;
}

.home_chat_btn:hover {
	background-color: #ffdbff;
}

.home_upload_btn:hover {
	background-color: #c0d3fc;
}