.RP-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #f5f5f5;
}

h1 {
	color: #c8b6ff;
	font-weight: bolder;
}

h2 {
	color: #b8c0ff;
	font-weight: lighter;
}

.RP-form-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 10px;
}

.RP-form-label {
	font-weight: bolder;
	padding: 10px;
}

.RP-submit-form {
	font-weight: bolder;
	background-color: #c8b6ff;
	color: white;
	border: 1px solid #c8b6ff;
	padding: 10px;
	text-decoration: none;
}
