*.UserProfile {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    text-align: center
  }

  .UserInfo{
   display: flex;
   flex-direction: row;
    align-items: left;
    margin-left: 50px;
    margin-top: 50px;
  }

  .Message{
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 25px;
  }

  .Message a {
    padding: 5px;
    border-radius: 10px;
    padding-inline: 10px;
    color: black;
    border: 1px solid rgb(9, 8, 8);
    
  }


  .Picture{
    object-fit: contain;
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }


  .Postgrid01{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-auto-rows: minmax(200px, auto); 
    column-gap: 10px;
    row-gap: 10px;
    padding: 1em;
    
  }

.Post01{
  border: 1px solid rgb(212, 209, 209);
}
  .Post01 h2{
    font-size: 25px;
    color: rgb(62, 59, 59);
    margin-bottom: 20px;
    text-align: center
  }

  .Postgrid01 a{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(9, 8, 8);
  text-decoration: none;
  color: black;
  text-align: center;
}

.UserInfo {
	display: flex;
	flex-direction: row;
	align-items: left;
	margin-left: 50px;
	margin-top: 50px;
}

.Message {
	text-align: left;
	margin-left: 50px;
	margin-bottom: 30px;
	margin-top: 25px;
}
.Message a {
	padding: 5px;
	border-radius: 10px;
	padding-inline: 10px;
}

.Picture {
	object-fit: contain;
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

.Postgrid {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 0.5fr;
	grid-auto-rows: minmax(200px, auto);
	column-gap: 10px;
	row-gap: 10px;
	padding: 1em;
}

.Post h2 {
	font-size: 25px;
	color: rgb(62, 59, 59);
	margin-bottom: 20px;
	text-align: center;
}

.Postgrid a {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: 1px solid rgb(9, 8, 8);
	text-decoration: none;
	color: white;
	background-color: rgb(157, 157, 172);
}
