.Buddy {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.profile {
	display: flex;
	flex-direction: row;
	text-align: left;
}

.Post-info {
	margin-bottom: 15px;
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Post-info p {
	border-radius: 5px;
	border: 1px solid rgb(9, 8, 8);
	margin: 5px;
	font-size: small;
	text-align: center;
	background-color: #c8b6ff;
	padding: 5px;
}

.Description {
	border-radius: 10px;
	padding: 30px;
	margin-bottom: 10px;
	background-color: #bbd0ff;
}

.custom-comments {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.form-floating.custom {
	margin-right: 10px;
	max-width: fit-content;
}

.Comments {
	margin-bottom: 30px;
	margin-top: 30px;
}

.usercomment {
	border-radius: 10px;
	background-color: #c1c8ff;
}

.MessageBuddy {
	margin-bottom: 10px;
	margin-top: 25px;
	

}

.MessageBuddy a {
	padding: 5px;
	border-radius: 10px;
	padding-inline: 10px;
	color: white;
	background-color: #c8b6ff;
}