body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.screen {
  /* this child should have 3 child components (header, body, footer) */
  height: 100vh;
  display: grid;
  flex-direction: column;
  grid-template-rows: 70px 1fr 50px;
}

.screen_body {
  overflow: auto;
}

.screen_header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  border-bottom: 1px solid #ced4da;
}

