name: Deploy To Test Server

on:
  pull_request:
    types: [ opened, synchronize ]
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        build-args: |
          REACT_APP_BACK_URL=${{ secrets.TEST_REACT_APP_BACK_URL }}
          REACT_APP_WEBSOCKET_URL=${{ secrets.TEST_REACT_APP_WEBSOCKET_URL }}
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/study-buddy:latest
          